<div>

  <h1 class="center-title">Tabella Utente</h1>

  <!-- Tabella dei dati -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="posizione">
      <th mat-header-cell *matHeaderCellDef class="centered"> No. </th>
      <td mat-cell *matCellDef="let element" class="centered"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef class="centered"> Nome </th>
      <td mat-cell *matCellDef="let element" class="centered"> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="cognome">
      <th mat-header-cell *matHeaderCellDef class="centered"> Cognome </th>
      <td mat-cell *matCellDef="let element" class="centered"> {{element.cognome}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="centered"> Email </th>
      <td mat-cell *matCellDef="let element" class="centered"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="data_di_nascita">
      <th mat-header-cell *matHeaderCellDef class="centered"> Data di Nascita </th>
      <td mat-cell *matCellDef="let element" class="centered"> {{element.dataDiNascita}} </td>
    </ng-container>

    <!-- Colonna per i bottoni Modifica -->
    <ng-container matColumnDef="modifica">
      <th mat-header-cell *matHeaderCellDef class="centered"> Modifica </th>
      <td mat-cell *matCellDef="let element" class="centered">
        <button mat-button (click)="onModifica(element, $event)">Modifica</button>
      </td>
    </ng-container>

    <!-- Colonna per i bottoni Elimina -->
    <ng-container matColumnDef="elimina">
      <th mat-header-cell *matHeaderCellDef class="centered"> Elimina </th>
      <td mat-cell *matCellDef="let element" class="centered">
        <button mat-button color="warn" (click)="onElimina(element)">Elimina</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="dataSource.data.length" class="paginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

  <div class="aggiungi-container" style="text-align: center; margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="onAggiungi($event)" class="btn-aggiungi">Aggiungi</button>
  </div>
</div>


